<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>The Web Page Of Terrence Henriquez</title>

    <!-- Bootstrap Core CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" type="text/css">

    <!-- Custom Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="font-mfizz-2.2/font-mfizz.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/master/devicon.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" media="screen" title="no title" charset="utf-8">

    <link rel="stylesheet" href="css/font-awesome.css">

    <!-- Plugin CSS -->
    <link rel="stylesheet" href="css/animate.min.css" type="text/css">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="css/creative.css" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top">
<div class="parallax-window" data-parallax="scroll" data-image-src="img/header2.jpg"></div>
    <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">Terrence-Nav</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">Skills</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#portfolio">Portfolio</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <header>
        <div class="header-content">
            <div class="header-content-inner">
                <h1>Create Innovote Inspire</h1>
                <hr>
                <p>Great things Dont Always Happen But new Outcomes can lead to a Great Life.</p>
                  </div>
        </div>
    </header>

    <section class="bg-primary" id="about">
        <div class="container">
            <div class="row">
              <h2>Profile</h2>
                    <p class="lead">I&#039;m a FullStack Developer</p>

                    <hr />

                    <div class="row">
                        <div class="col-md-4">
                            <h3>About me</h3>
                            <p>
                                I am an allround web developer with good knowledge of front-end and Back-end technologies. I love structure and order and I also stand for quality. I love spending time on fixing little details and optimizing web apps. Also I like working in a team, you'll learn faster and more. As the saying goes: 'two heads are better than one'. </p>
                        </div>
                        <div class="col-md-4 text-center">
                            <img src="https://media.licdn.com/mpr/mpr/shrinknp_400_400/AAEAAQAAAAAAAAWvAAAAJDFjZjFiMmMxLTA1YmEtNGViYy04YTk3LWI5MWE4NzRkMWQ0ZQ.jpg" class="img-circle" alt="Terrence Henriqez" width="190" height="246" />
                        </div>
                        <div class="col-md-4">
                            <h3>Details</h3>
                            <p>
                                <strong>Name:</strong>
                                <br /> Terrence Henriquez
                                <br />
                                <strong>Age:</strong>
                                <br /> 21 years
                                <br />
                                <strong>Location:</strong>
                                <br /> 'Trenton,NewJersey </p>
                                <ul class="list-inline social-buttons">
                          
            </div>

        </div>
    </section>

    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">My Tools of Work</h2>
                    <hr class="primary">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <i class="fa fa-4x fa-html5 wow bounceIn text-primary"></i>
                        <h3>Html5</h3>
                        <p class="text-muted">Without Html Mark Text my Pages wouldnt have a certain Structure.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-css3 wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Css</h3>
                        <p class="text-muted">Css Gives the Looks and Beauty of my Pages and WebApps.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-javascript-plain wow bounceIn text-primary data-wow-delay=".2s"></i>
                        <h3>JavaScript</h3>
                        <p class="text-muted">javascript Is here with great function and Varbles.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <i class="devicon-jquery-plain  wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Jquery</h3>
                        <p class="text-muted">Not Only its Makes javascript understandable it also DOM transverses, event handling, AJAX interactions and animation. </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                              <i class="icon-nodejs wow bounceIn text-primary" data-wow-delay=".4s"></i>
                        <h3>Node.Js</h3>
                        <p class="text-muted">Using Node Js inables  Use Javascript in Terminal to create back-end Apps.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-mysql-plain wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>MySql</h3>
                        <p class="text-muted">Create Databases, Tables and Store Data.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                      <i class="devicon-angularjs-plain  wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>AngularJs</h3>
                        <p class="text-muted">Angular is Not Just an Libary its an Great Framework for creating  Front-end Web Apps.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-mongodb-plain  wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>MangoDb</h3>
                        <p class="text-muted">You have to make your websites with love these days!</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">

                      <i class="devicon-illustrator-plain bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Adobe Illistrator</h3>
                        <p class="text-muted">Illstrator Helps me Create vector imaginery to use in My front end workflow.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="fa fa-4x fa-github wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <h3>Github</h3>
                        <p class="text-muted">Always Commiting,Pushing,And Pulling my Code to showcase to my peers.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-bootstrap-plain wow bounceIn text-primary" data-wow-delay=".2s"></i>
                        <h3>Bootstrap</h3>
                        <p class="text-muted">Twitter Bootstrap allows me to Create Responsive Webpages with unique divs and classes.</p>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 text-center">
                    <div class="service-box">
                        <i class="devicon-heroku-plain wow bounceIn text-primary" data-wow-delay=".3s"></i>
                        <h3>Heroku</h3>
                        <p class="text-muted">Without Heroku there no Server to Showcase my Work</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="col-lg-12 text-center">
        <h2 class="section-heading">My Tools of Work</h2>
        <hr class="primary">
    <section class="no-padding" id="portfolio">
        <div class="container-fluid">
            <div class="row no-gutter">
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/1.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    Marvel Clicking Game
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    TravelSite
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <a href="#" class="portfolio-box">
                        <img src="img/portfolio/2.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <div class="project-category text-faded">
                                    Category
                                </div>
                                <div class="project-name">
                                    RU
                                </div>
                            </div>
                        </div>
                    </a>
                </div>

    </section>


    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <h2 class="section-heading">Let's Get In Touch!</h2>
                    <hr class="primary">
                    <p>Ready to start your next project with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
                </div>

    			<div class="col-md-12">
                    <ul class="social-network social-circle">
                              <li><a href="https://github.com/thenriquez" class="icoTwitter" title="GitHub"><i class="fa fa-github"></i></a></li>
                        <li><a href="mailto:thenriquez25@outlook.com" class="icoTwitter" title="EmailMe"><i class="fa fa-envelope-o"></i></a></li>
                        <li><a href="#" class="icoTwitter" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#" class="icoGoogle" title="Google +"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/terrence-henriquez-0a32b7109" class="icoLinkedin" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
				</div>
    </section>
    <div id="footer">
    <div class="container">
      <p class="text-muted">Copyright ©2016 Terrence Henriquez.</p>
    </div>
  </div>
  <ul class="nav pull-right scroll-top">
    <li><a href="#" title="Scroll to top"><i class="fa  fa-chevron-up  fa-2x wow bounceInUp"data-wow-delay="3.s"></i>
  </a></li>
  </ul>

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/jquery.fittext.js"></script>
    <script src="js/wow.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="js/creative.js"></script>

</body>

</html>
